body {
  background-color: black;
}

.multiline > label,
.multiline > label > div {
  flex-grow: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/source-code-pro/source-code-pro-v14-latin-regular.woff2")
      format("woff2"),
    url("./fonts/source-code-pro/source-code-pro-v14-latin-regular.woff")
      format("woff");
}

@font-face {
  font-family: "SmallType";
  src: url("./fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "DDin";
  src: url("./fonts/D-DIN.woff2") format("woff2"),
    url("./fonts/D-DIN.woff") format("woff");
}
